body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: white;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Шапка сайта */
.header {
    min-height: 490px;
    width: 1280px;
    padding-top: 35px;
    background-image: url("image/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.header_container {
    width: 1020px;
    margin: 0 auto;
}
.header_menu {
    margin-bottom: 125px;
}
.header_logo {
    background: url("image/logo.png");
    float: left;
    width: 205px;
    height: 55px;
}

/* Меню */
.header_main_menu {
    float: left;
    width: 520px;
    margin: 0;
    margin-top: 18px;
    margin-left: 125px;
    padding: 0;
    list-style: none;
}
.header_main_menu li {
    float: inline-start;
    margin-right: 52px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: justify;
}
.header_main_menu li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.reviews {
    margin-left: -4px;
}
/* Кнопка заказать */
.header_button_order {
    width: 170px;
    padding: 10px;
    font: inherit;
    background: none;
    border-radius: 2px;
    border: 2px solid #ffffff;
    margin-top: 6px;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.4s;
}
.header_button_order:hover{
    background: #ffffff;
    color: black;
    cursor: pointer;
    transition: 0.4s;
}
/* Заголовок */
.header_title {
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    font-family: "Georgia", serif;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

/* Тело сайта */

/* Пункты */
.main_points {
    padding-top: 50px;
    padding-bottom: 55px;
}
.main_points_container {
    width: 1020px;
    margin: 0 auto;
}
.main_points article {
    margin: 0;
    padding: 0;
}
/* Пункты */
.main_points_item {
    position: relative;
    float: left;
    width: 279px;
    padding-top: 90px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    border-left: 1px solid #d9d9d9;
}
.main_points_item:first-child {
    border-left-color: transparent;
}
.main_points_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 137px;
    width: 65px;
    height: 65px;
    background-image: url("image/points.png");
    background-repeat: no-repeat;
}
/* Выбор */
.item_choice::before {
    background-position: -5px -5px;
}
/* Качество */
.item_quality::before {
    background-position: -5px -76px;
}
/* Безопасность */
.item_safety::before {
    background-position: 1px -143px;
}
/* Заголовок пункта */
.main_points_item_title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    font-family: "Georgia", serif;
    color: #a38b70;
}
/* Текст пункта */
.main_points_item p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 170%;
    letter-spacing: 0.1px;
}

/* Немного теории */
.main_theory {
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: #f2f2f2;
}
.main_theory_container {
    width: 1020px;
    margin: 0 auto;
}
.main_theory .main_theory_container {
    position: relative;
}
/* Заголовок */
.main_title {
    margin: 0;
    margin-right: 180px;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    font-family: "Georgia", serif;
    color: #a38b70;
}
/* Кнопка Справочник */
.main_button {
    width: 170px;
    padding: 10px;
    padding-left: 14px;
    font: inherit;
    color: #a38b70;
    text-transform: uppercase;
    border: 2px solid #a38b70;
    border-radius: 2px;
    background: none;
    position: absolute;
    top: 5px;
    right: 0;
    transition: 0.4s;
}
.main_button:hover{
    cursor: pointer;
    color: #ffffff;
    background: #a38b70;
    transition: 0.4s;
}
/* Таблица */
.main_theory dl {
    width: 820px;
    margin: 0;
    padding: 0;
}
.main_theory dt {
    margin: 0;
    margin-bottom: 10px;
}
.main_theory dd {
    position: relative;
    min-height: 100px;
    margin: 0;
    padding-left: 130px;
    font-size: 16px;
    word-spacing: 0.9px;
}
.main_theory dd + dt {
    margin-top: 70px;
}
/* Фотографии объектов */
.image_theory {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.cat_color {
    background: url("image/cat_color.jpg");
}
.cat_house {
    background: url("image/cat_house.jpg");
}
/* Заголовок объекта */
.main_theory_title {
    display: inline;
    font-size: 24px;
}
.main_theory_title_source {
    font-size: 16px;
    color: #666666;
    font-style: italic;
    font-weight: 100;
}
.main_theory_title_source_link {
    position: relative;
    color: #a38b70;
    text-decoration: underline;
    font-weight: 100;
}
/* Текст объекта */
.main_theory_container dd p{
    margin: 0;
}

/* Довольные коты */
.main_satisfied {
    padding-top: 70px;
    padding-bottom: 90px;
}
.main_satisfied_container {
    width: 1020px;
    margin: 0 auto;
}
.main_satisfied .main_satisfied_container {
    position: relative;
}
.special {
    position: absolute;
    margin-top: -5px;
    padding: 10px;
}
/* Объект */
.main_satisfied_item {
    float: left;
    width: 377px;
    margin: 0;
    margin-right: 80px;
    padding: 0;
    padding-left: 50px;
    font-size: 16px;
    border-left: 3px solid #a38b70;
}
/* Текст объекта */
.main_satisfied_item_text  {
    width: 372px;
    margin: 0;
    margin-bottom: 15px;
    word-spacing: 0.5px;
}
/* Автор объекта */
.main_satisfied_author {
    margin: 0;
    font-weight: bold;
    font-style: italic;
}

/* Популярные товары */
.main_popular {
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: #f2f2f2;
}
.main_popular_container {
    width: 1020px;
    margin: 0 auto;
}
.main_popular .main_popular_container {
    position: relative;
}
.main_popular_items {
    margin-bottom: 50px;
}
.main_popular_button:hover {
    background: none;
    color: #a38b70;
    transition: 0.4s;
    cursor: pointer;
}
/* Объект */
.main_popular_item {
    position: relative;
    float: left;
    width: 262px;
    margin-right: 48px;
    padding: 15px 22px;
    padding-top: 221px;
    font-size: 16px;
    border: 1px solid #d8d8d8;
}
.main_popular_item:last-child {
    margin-right: 0;
}
/* Фотография объекта */
.image_item {
    position: absolute;
    top: 0;
    left: 0;
    width: 306px;
    height: 206px;
}
.item_glasses_one {
    background: url(image/glasses_one.jpg);
}
.item_glasses_two {
    background: url(image/glasses_two.jpg);
}
.item_glasses_three {
    background: url(image/glasses_three.jpg);
}
/* Заголовок объекта */
.main_popular_item h3 {
    float: left;
    max-width: 205px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000000;
}
/* Цена */
.main_popular_item_price {
    float: right;
    max-width: 55px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}
/* Кнопки Описание/Купить */
.main_popular_button {
    transition: 0.4s;
    width: 126px;
    padding: 10px;
    font: inherit;
    color: #ffffff;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    border: 2px solid #a38b70;
    border-radius: 2px;
    background: #a38b70;
}
.info {
    float: left;
    clear: left;
}
.buy {
    float: right;
}

/* Прайс-лист услуг */
.main_price_list {
    width: 100%;
    border-collapse: collapse;
    line-height: 30px;
}
.list {
    margin-bottom: 60px;
}
.main_price_list th {
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
.main_price_list td {
    border: 1px solid #d8d8d8;
}
.main_price_list th, .main_price_list td {
    padding: 10px 17px;
}
.main_price_list_number {
    width: 15px;
    text-align: center;
}
.main_price_list_name {
    width: 422px;
    font-weight: bold;
    color: #000000;
}
.main_price_list_provides {
    width: 303px;
}
.main_price_list_price {
    width: 135px;
}

/* Остались вопросы? */
.main_feedback {
    margin-top: 2px;
    padding-top: 60px;
    padding-bottom: 70px;
}
.main_feedback_container {
    width: 1020px;
    margin: 0 auto;
}
.main_feedback .main_feedback_container {
    position: relative;
}
.main_title_preface {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 500px;
    font-size: 16px;
}
/* Форма */
.main_feedback_form {
    width: 630px;
    padding-right: 390px;
    background-image: url("image/write.jpg");
    background-repeat: no-repeat;
    background-position: 100% 40px;
}
.feedback_form {
    margin-bottom: 15px;
}
.form_phone, .form_email {
    width: 290px;
}
/* Поле номер телефона */
.form_phone {
    float: left;
}
/* Поле email */
.form_email {
    float: right;
}
/* Заголовки */
.feedback_form label {
    display: inline-block;
    padding: 5px 0;
    padding-left: 17px;
    font-size: 12px;
    text-transform: uppercase;
}
/* Форма input*/
.form_name input, .form_phone input, .form_email input {
    box-sizing: border-box;
    width: 100%;
    height: 54px;
    padding: 10px 15px;
    font: inherit;
    color: inherit;
    border: 2px solid #d5d5d5;
}
/* Текст обращения*/
.feedback_form select {
    box-sizing: border-box;
    width: 100%;
    height: 54px;
    padding: 10px 5px;
    font: inherit;
    color: inherit;
    border: 2px solid #d5d5d5;
}
.main_feedback_form textarea {
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    display: block;
    max-width: 596px;
    min-width: 596px;
    min-height: 72px;
    max-height: 72px;
    padding: 24px 17px;
}
/* Checkbox */
.feedback_form_checkbox {
    padding: 15px 10px;
    padding-bottom: 22px;
    margin-bottom: 25px;
    border-bottom: 1px solid #d5d5d5;
}

.feedback_form_checkbox input[type="checkbox"] {
    font-size: 14px;
    width: 30px;
    height: 30px;
    margin: 0;
    margin-left: 7px;
}
/* Кнопка отправить */
.feedback_form_button {
    width: 146px;
    padding: 10px;
    font: inherit;
    color: #a38b70;
    text-transform: uppercase;
    border: 2px solid #a38b70;
    border-radius: 2px;
    margin-top: 40px;
    color: #ffffff;
    background-color: #a38b70;
    transition: 0.4s;
}
.feedback_form_button:hover {
    cursor: pointer;
    color: #a38b70;
    background: none;
    transition: 0.4s;
}

/* Подвал сайта */
.footer {
    width: 1280px;
    color: #c3c3c3;
    background-color: #363636;
    padding-top: 45px;
    padding-bottom: 50px;
    margin: 0 auto;
}
.footer_container {
    width: 1020px;
    margin: 0 auto;
}
.footer .footer_container {
    position: relative;
}
/* Верхння часть */
.footer_top {
    margin-bottom: 45px;
}
.footer_button {
    display: flex;
    justify-content: right;
}
/* Средняя часть */
.footer_middle {
    margin-bottom: 50px;
    padding-top: 48px;
}
.footer_middle, .footer_bottom {
    border-top: 1px solid #5e5e5e;
}
/* Меню */
.footer_menu {
    float: left;
    width: 150px;
    margin-right: 20px;
}
.footer_menu h3 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    font-family: "Georgia", serif;
    color: #a38b70;
}
.footer_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer_menu li {
    font-size: 16px;
    margin-bottom: 15px;
}
.footer_menu li:hover {
    cursor: pointer;
    text-decoration: underline;
}
/* Нижняя часть */
.footer_bottom {
    padding-top: 52px;
}
.footer_social_link {
    float: left;
    width: 490px;
    font-size: 0;
}
/* Заголовок */
.footer_social_link b {
    margin-right: 40px;
    font-size: 24px;
    font-family: "Georgia", serif;
    color: #a38b70;
}
/* Иконки соц. сетей */
.footer_social_link_button {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    vertical-align: middle;
    color: #ffffff;
    background-image: url("image/points.png");
    background-repeat: no-repeat;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
/* Вконтакте */
.button_vk {
    background-position: 16px -238px;
    transition: 0.4s;
}
.button_vk:hover {
    border: 1px solid #ffffff;
    transition: 0.4s;
    cursor: pointer;
}
/* Фейсбук */
.button_fb {
    background-position: 19px -297px;
    transition: 0.4s;
}
.button_fb:hover {
    border: 1px solid #ffffff;
    transition: 0.4s;
    cursor: pointer;
}
/* Инстаграм */
.button_in {
    background-position: 13px -358px;
    transition: 0.4s;
}
.button_in:hover {
    border: 1px solid #ffffff;
    transition: 0.4s;
    cursor: pointer;
}
/* Копирайт */
.footer_copyright {
    float: right;
    width: 236px;
    color: #ffffff;
    text-transform: uppercase;
}
.footer_copyright .heart {
    display: inline-block;
    width: 27px;
    height: 24px;
    font-size: 0;
    vertical-align: middle;
    background-image: url("image/points.png");
    background-repeat: no-repeat;
    background-position: -5px -419px;
}
